{%- liquid
  assign base_price = product.price 
-%}


<div class="purchase-options width-100">
  <div class="purchase-tab open width-100" id="subscribe-tab">
    <button type="button" aria-controls="subscribe-content"  data-element-id="purchase-option-trigger-sub" class="width-100">
      <div class="flex width-100">
        <div class="flex ">
          <div class=""></div>
        </div>
        <div class="self-center width-100">
          <div class="space-y-1 self-start">
<div class="circle"></div>
            <h4 class="">Subscribe & Save</h4>
            
            <p class="" data-section-id="">
              <span class="leading-lg title_up">Up to 46% Off</span>
              <span class="relative  sub_title_up">FREE Shipping</span>
            </p>
          </div>
          <div class="price_tab">
<div class="price">
              <span class="new-price">{{ base_price | times: 0.7 | money_without_trailing_zeros }}</span>
              <span class="old-price">{{ base_price | money_without_trailing_zeros }}</span>
            </div>
<span class="gummy_label hide-mobile">Only 0.99$ per gummy </span>
          
          </div>
        </div>
  

      </div>
    </button>
    <div class="purchase-content" id="subscribe-content">
      <div class="quantity-options">
        <div class="quantity-box selected" data-selling-plan="695330832696" data-discount="30" data-quantity="1">
          <div class="box-content">
           
            <div class="offer-title">
              <div class="div-title">
              <div class="hide-mobile"><span class="new-price">{{ base_price | times: 0.7 | money_without_trailing_zeros }}</span>  <small>/ Tub</small></div> 
        <div class="hide-pc">1 Tub: 30 Gummies</div>
                <div class="tub_title"><span class="hide-mobile">1 Tub: 30 Gummies</span> <span class="hide-pc">{{ base_price  | times: 0.7 | divided_by: 30 | money_without_trailing_zeros }}
 / gummy </span> </div>
               </div>
               
            </div>
                        <div class="labelbest"></div>
            <div class="labelsavediv"><small>Save</small><span class="labelsave">30%</span></div>
     
          </div>
        </div>

           <div class="quantity-box" data-selling-plan="695330832696" data-discount="39" data-quantity="2">
          <div class="box-content">
           
            <div class="offer-title">
              <div class="div-title">
                          <div class="hide-mobile" ><span class="new-price">{{ base_price | times: 0.61 | money_without_trailing_zeros }}</span>   <small>/ Tub</small></div> 
        <div class="hide-pc">2 Tubs: 60 Gummies</div>
                
                <div class="tub_title"><span class="hide-mobile">2 Tubs: 60 Gummies </span>
<span class="hide-pc">{{ base_price  | times: 0.61 | divided_by: 30 | money_without_trailing_zeros }}
 / gummy </span>
</div>
               </div>
               
            </div>
                             <div class="labelbest"><span>Most Popular</span></div>
            <div class="labelsavediv"><small>Save</small><span class="labelsave">39%</span></div>
          </div>
        </div>

           <div class="quantity-box" data-selling-plan="695330832696" data-discount="46" data-quantity="3">
          <div class="box-content">
        
            <div class="offer-title">
              <div class="div-title">

                      <div class="hide-mobile" > <span class="new-price">{{ base_price | times: 0.54 | money_without_trailing_zeros }}</span>   <small>/ Tub</small>
</div> 
        <div class="hide-pc">3 Tubs: 90 Gummies</div>
                
                <div class="tub_title"><span class="hide-mobile">3 Tubs: 90 Gummies </span>
<span class="hide-pc">{{ base_price  | times: 0.54 | divided_by: 30 | money_without_trailing_zeros }}
 / gummy </span>
</div>
               </div>
               
            </div>
              <div class="labelbest"><span class="BestValue">Best Value</span></div>
            <div class="labelsavediv"><small>Save</small><span class="labelsave">46%</span></div>
               
          </div>
        </div>

                <button class="how_many_gummies" id="how_many_gummies"> How many gummies does my dog need? </button>




        <product-form>
         <form method="post" action="/cart/add" id="product-form-{{ product.id }}" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data">
  <input type="hidden" name="form_type" value="product">
  <input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  <input type="hidden" name="quantity" id="cart-quantity" value="1">


  <div class="v-stack gap-4">
    <buy-buttons class="buy-buttons" form="product-form-{{ product.id }}">
      <button type="submit" class="button cta_button w-full" style="display: block;">
 
          Add to cart

      </button>
    </buy-buttons>


    {% if template.suffix == 'pre-order-dental' %}
 
{% endif %}

  
  </div>

  <input type="hidden" name="product-id" value="{{ product.id }}">
  <input type="hidden" name="section-id" value="{{ section.id }}">
           <input type="hidden" name="selling_plan" value="695330832696">
</form>
</product-form>
      </div>
    </div>
<ul role="list">
  <li class="flex list_Feature">
    <img src="https://gumpaws.com/cdn/shop/t/8/assets/yes.svg?v=9902419621653945701739309159" width="20" height="20" alt="List item icon" class="mr-2 pt-[2px]">
    <span class="">
      <p><strong>FREE SHIPPING</strong> Each month
    </span>
  </li>
  
</ul>
  </div>


 

  <div class="purchase-tab width-100" id="one-time-tab">
    <button type="button" aria-controls="subscribe-content"  data-element-id="purchase-option-trigger-sub" class="width-100">
      <div class="flex width-100">
        <div class="flex ">
          <div class=""></div>
        </div>
        <div class="self-center width-100">
          <div class="space-y-1 self-start">
<div class="circle"></div>
            <h4 class="">One-Time Purchase</h4>
            
            <p class="" data-section-id="">
              <span class="leading-lg title_up">Up to 30% Off</span>
                      </p>
          </div>
          <div class="price_tab">
<div class="price">
              <span class="new-price">{{ base_price | times: 1 | money_without_trailing_zeros }}</span>
              <span class="old-price"></span>
            </div>
<span class="gummy_label hide-mobile">Only 1.63$ per gummy </span>
          
          </div>
        </div>
  

      </div>
    </button>
    <div class="purchase-content" id="subscribe-content">
      <div class="quantity-options">
        <div class="quantity-box selected" data-selling-plan="695330832696" data-discount="0" data-quantity="1">
          <div class="box-content">
          
            <div class="offer-title">
              <div class="div-title">
      <div class="hide-mobile" ><span class="new-price">{{ base_price | times: 1 | money_without_trailing_zeros }}</span>  <small>/ Tub</small></div> 
        <div class="hide-pc">1 Tub: 30 Gummies</div>


                      <div class="tub_title">
                  <span class="hide-mobile">
                  1 Tub: 30 Gummies
                  </span>

                  
                         <span class="hide-pc">{{ base_price  | times: 1 | divided_by: 30 | money_without_trailing_zeros }}
 / gummy </span>
                  </div>
               </div>
               
            </div>
            <div class="labelsavediv hide-mobile"><small class="hide-mobile">Save</small><span class="hide-mobile labelsave">0%</span></div>
      
          </div>
        </div>

           <div class="quantity-box" data-selling-plan="695330832696" data-discount="25" data-quantity="2">
          <div class="box-content">
        
            <div class="offer-title">
              <div class="div-title">

                     <div class="hide-mobile" ><span class="new-price">{{ base_price | times: 0.75 | money_without_trailing_zeros }}</span> <small>/ Tub</small></div> 
        <div class="hide-pc">2 Tubs: 60 Gummies</div>
                
              
                <div class="tub_title">
<span class="hide-mobile">
2 Tubs: 60 Gummies
</span>
                  <span class="hide-pc">{{ base_price  | times: 0.75 | divided_by: 30 | money_without_trailing_zeros }}
 / gummy </span>
</div>
               </div>
               
            </div>
            <div class="labelsavediv"><small>Save</small><span class="labelsave">25%</span></div>
             
          </div>
        </div>

           <div class="quantity-box" data-selling-plan="695330832696" data-discount="30" data-quantity="3">
          <div class="box-content">
       
            <div class="offer-title">
              <div class="div-title">
                   <div class="hide-mobile" >  <span class="new-price">{{ base_price | times: 0.7 | money_without_trailing_zeros }}</span>   <small>/ Tub</small></div> 
        <div class="hide-pc">3 Tubs: 90 Gummies</div>
                
            
                <div class="tub_title">
                  <span class="hide-mobile">
                  3 Tubs: 90 Gummies
                  </span>
                  
       <span class="hide-pc">{{ base_price  | times: 0.7 | divided_by: 30 | money_without_trailing_zeros }}
 / gummy </span>
                  
</div>
               </div>
               
            </div>
            <div class="labelsavediv"><small>Save</small><span class="labelsave">30%</span></div>
          
          </div>
        </div>

                <button class="how_many_gummies"  id="how_many_gummies"> How many gummies does my dog need? </button>


        
         {%- render 'buy-buttons',
                product: product,
                form_id: product_form_id,
                show_payment_button: block.settings.show_payment_button,
                show_gift_card_recipient: block.settings.show_gift_card_recipient,
                atc_button_background: block.settings.atc_button_background,
                atc_button_text_color: block.settings.atc_button_text_color,
                payment_button_background: block.settings.payment_button_background,
                payment_button_text_color: block.settings.payment_button_text_color
            -%}

    {% if template.suffix == 'pre-order-dental' %}

{% endif %}

      </div>
    </div>

<ul role="list">
  <li class="flex list_Feature">
    <img src="https://gumpaws.com/cdn/shop/t/8/assets/yes.svg?v=9902419621653945701739309159" width="20" height="20" alt="List item icon" class="mr-2 pt-[2px]">
    <span class="">
      <p><strong>FREE SHIPPING</strong> Over $50
    </span>
  </li>
  
</ul>
  </div>




</div>

{%- liquid
  assign base_price_v = product.price
-%}
<script>
document.querySelectorAll('.purchase-tab').forEach((tab, index, tabs) => {
    const basePrice = {{base_price_v}};

    tab.querySelectorAll('.quantity-box').forEach(box => {
        box.addEventListener('click', (e) => {
            const isAutoClick = box.hasAttribute('data-auto-click');
            box.removeAttribute('data-auto-click');

            tab.querySelectorAll('.quantity-box').forEach(qb => qb.classList.remove('selected'));
            box.classList.add('selected');

            let quantity = parseInt(box.getAttribute('data-quantity'), 10) || 1;
            let discount = parseFloat(box.getAttribute('data-discount')) || 0;
            let newPrice = ((100 - discount) * basePrice * quantity) / 10000;
            let oldPrice = (basePrice * quantity) / 100;

            tab.querySelector('#cart-quantity').value = quantity;
            tab.querySelector('.price_tab .new-price').textContent = `$${newPrice.toFixed(2)}`;
            if (oldPrice === basePrice / 100 && oldPrice === newPrice) {
                tab.querySelector('.price_tab .old-price').textContent = '';
            } else {
                tab.querySelector('.price_tab .old-price').textContent = `$${oldPrice.toFixed(2)}`;
            }
            tab.querySelector('.gummy_label').textContent = `Only $${((newPrice / quantity) / 30).toFixed(2)} per gummy`;

            if (!isAutoClick && tabs.length > 1) {
                const otherTabIndex = index === 0 ? 1 : 0;
                const otherTab = tabs[otherTabIndex];
                const matchingBox = otherTab.querySelector(`.quantity-box[data-quantity="${quantity}"]`);
                if (matchingBox) {
                    setTimeout(() => {
                        matchingBox.setAttribute('data-auto-click', 'true');
                        matchingBox.click();
                    }, 100);
                }
            }
        });
    });
});

</script>
<script>
  document.querySelectorAll('.purchase-tab button').forEach(button => {
    button.addEventListener('click', () => {
      document.querySelectorAll('.purchase-tab').forEach(tab => tab.classList.remove('open'));
      let parent = button.closest('.purchase-tab');
      parent.classList.add('open');
    });
  });
</script>

<style>


  .div-title small  {
    font-size: 0.7rem;
margin-right: 0.5rem;
    font-weight: 400 !important;
    margin-left: 0.3rem;
}

  .labelbest {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  quantity-box .offer-title {
    width: 100%;
  }

  .BestValue  {
        background: #e5edfa !important;
    color: #000!important;
}

.price_tab .price {
    justify-content: end;
}
.list_Feature:before{
   display: none!important;
}

  .how_many_gummies {
    font-size: 0.8rem;
    text-decoration: underline;
}


  .list_Feature {
    font-size: 0.75rem;
  }

 .width-100  {
    width: 100%;
}
  .sub_title_up {
    font-size: 0.8rem;
     color: #1d5d40;
        font-weight: bold;
    display: block;
}


  .title_up {
 color: #1d5d40;
    font-weight: bold;
  }

  .price  {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

  .list_Feature  img {
    width: 0.75rem;
}

  .gummy_label {
    letter-spacing: 0;
    display: flex;
    color: #000;
    padding: .1rem .75rem;
    border-radius: 100px;
    align-items: center;
    gap: 10px;
    font-size: .8rem;
    background: #e5edfa;
}

  .notification {
    background: rgb(233 246 244);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

.purchase-tab.open button .circle::after {
    background: #fab1ff;
}


  .flex {
    display: flex;
    gap: 0.5rem;
  }


  .self-center  .circle{
    top: 5px;
    left: 0px;
}

 .self-start .circle{
    top: 5px;
    left: 0px;
}

.self-start  {
    padding-left: 2rem;
}


  .self-start,   .self-center {
        position: relative;
  }

  .purchase-tab:hover { 
    border-color: #fab1ff;
}

    .purchase-tab {  transition: border-color 0.3s ease-in-out; border: 1px solid #ccc; padding: 20px; background: #fff;     max-width: 32rem; border-radius: 10px; margin-bottom: 1rem;}
  .purchase-tab .purchase-content { display: none; }
  .purchase-tab.open .purchase-content { display: block; }
  .quantity-box { padding: 10px; border: 1px solid #ddd; margin-top: 0px; cursor: pointer; }
  .quantity-box .offer-title { font-weight: bold; }

  .self-center {
    display: flex;
    justify-content: space-between;
}

  .price_tab {
    text-align: right;
  }
  .self-start {
    text-align: left;
  }
  .add-to-cart { width: 100%; padding: 10px; background: green; color: white; border: none; cursor: pointer; font-size: 18px; margin-top: 20px; }
</style>







<style>

  .purchase-tab.open .purchase-content {
    margin-top: 1rem;
  }

.purchase-tab.open {
      border-color: #fab1ff!important;
}

  .labelbest span {
        background: #ebee02;
    border: #ebee02;
    color: #000
    font-size: 0.55rem;
    text-transform: uppercase;
font-weight: 700;
    letter-spacing: 1px;
    border-radius: 100px;
    right: 1rem;
font-size: 0.5rem;
    padding: 7px 11px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
  .price small{
    font-size: 50%;
  }

  .tub_title {
    font-size: 0.85rem;
    font-weight: 400;
}

 .price{
    line-height: 1.3;
}


  .old-price {
    display: block;
}


  .loop-widget-container {
    display: none!important;
  }
.circle {
      display: flex;
    position: absolute;
     display: flex!important;
    justify-content: center;
    align-items: center;
    left: 1.5rem;
    width: 20px;
    height: 20px;
    border: 2px solid #fab1ff;
    border-radius: 50%;
}

.quantity-box.selected .circle {
  background: #fff;
  border-color: #fab1ff;
}

  .labelsavediv small  {
    display: block;
    margin-bottom: -5px;
    line-height: 1;
    font-size: 0.6rem;
} 
  .labelsavediv  {
    margin-bottom: -4px;
    margin-top: 2px;
}

  .labelsave {
        font-weight: 400;
    line-height: 1.1;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-style: italic;
    font-family: Perfectly Nineties, sans-serif;

  }

  .div-title {
        display: flex;
        flex-flow: wrap;
    gap: 0rem;
    align-items: center;
  }

.circle::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  margin: 5px auto;
}

  .breez-size {
   font-size: 0.8rem;
    font-weight: 600;
  }

.quantity-box.selected .circle::after {
  background: #fab1ff;
}

.quantity-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tab-button span{
       width: 100%;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.tab-button img{
    width: 4rem;
}

.tab-button {
      padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
   border: 1px solid transparent;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
     text-align: center;
}
.tab-button.active {
  background: #fff;
    border: 1px solid #eee;
}

.quantity-options {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    flex-flow: column;
    width: 30rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.shopify-product-form {
    max-width: 30rem;
  }


.offer-title .title {
margin-top: 0.1rem;
    font-weight: 700;
    line-height: 1.5;
    font-size: 0.9rem;
}
  .offer-title {

        text-align: left;
  }
.circle {
    top: calc(50% - 10px);
}


  .description small {
         font-style: italic;
  }

 .box-content .description {
    font-weight: 400;
    line-height: 1.3;
    font-size: 0.8rem;
}
  
.box-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quantity-box {
   transition: border-color 0.3s ease-in-out;
    border-radius: 15px;
    padding: 0.5rem 1.5rem;
  width: 100%;
      border: 1px solid #eee;
  background: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
}

  .quantity-box:hover { 
    border-color: #fab1ff;
}
  
.quantity-box.selected {
border-color: #fab1ff;
    background: #fab1ff2e;
}
.quantity-options .label {
font-size: 0.55rem;
    background: #ffb1ff;
    color: #201209;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    top: -0.5rem;
    border-radius: 100px;
    right: 1rem;
    padding: 7px 11px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
.quantity-options .label.most-popular {
  color: #fff;
  background: rgb(46 117 94);
}
.price {
  font-size: 1.2rem;
  margin: 10px 0;
}
.new-price {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31 18 9);
}
.old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 0.8rem;
}
.add-to-cart-button {
  background: #0073e6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
}


  @media (max-width: 768px) {

    .quantity-options {
      gap: 25px!important;
    }
    .self-start {
    padding-left: 30px;
}

.self-start .circle {
    top: 7px;
    left: -7px;
}
    
    .tub_title {
    width: 100%;
    }

    .list_Feature {
    font-size: 0.9rem!important;
}

    .labelsave {
          line-height: 1.5;
              text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400!important;
    letter-spacing: 0px!important;
    font-style: normal !important;
    font-family: 'DM Sans';
    }

    .labelbest span {
        position: absolute;
        top: -0.8rem;
        left: 1rem;
        right: auto;
    }

    .labelsavediv small {
    display: block;
              text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
         line-height: 1.5;
        font-size: 0.9rem!important;
        font-weight: 500 !important;
}

    .labelsavediv {
    display: flex;
        margin-bottom: 0px;
        margin-top: 0px;
        align-items: center;
        gap: 5px;
        background: #ffb1ff;
        color: #000 !important;
        color: #fff;
        padding: 0.2rem 0.5rem;
        border-radius: 50px;
}

    .div-title {
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem!important;
    align-items: center;
    line-height: 1!important;
}

    .labelbest {
    width: 7rem!important;
    }
    .quantity-box {
       padding: 1.4rem 0.75rem !important;
    }

    .quantity-box .circle {

    left: 0.5rem!important;
  }
  }
</style>



<div id="gummies-popup" class="popup-overlay">
    <div class="popup-content">
        <span class="close-btn">&times;</span>
        <p class="popuptitle">For optimum results we recommend you follow the guidance below...</p>
        <div class="gummies-guide">
            <div class="gummy-category">
                <img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/small_54ef0343-792c-4b59-ba2e-c4438dd10114.png?v=1744911643" alt="Small Dogs" style="max-width: 2rem;">
                <h3>Under 45 lbs</h3>
                             <p>1 Gummy daily</p>
              
            </div>
            <div class="gummy-category">
                <img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/medium.png?v=1734450665" alt="Medium Dogs">
                <h3>45 - 90 lbs</h3>
           
                <p>2 Gummies daily</p>
               
            </div>
            <div class="gummy-category">
                <img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/big.png?v=1734450665" alt="Large Dogs">
                <h3>Over 90 lbs</h3>
         
                <p>3 Gummies daily</p>
              
            </div>
        </div>
        <span class="popup-btn">Best results are seen after 90 days</span>
    </div>
</div>

<style>

  .popuptitle {
    font-size: 1.1rem;
    font-weight: bold;

    line-height: 1.5;
    padding-right: 1rem;
    padding-left: 1rem;
}
    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }
    .popup-content {
        background: white;
        padding: 1.5rem;
        border-radius: 10px;
        width: 400px;
        text-align: center;
        position: relative;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
    }
    .gummies-guide {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 20px 0;
    }

  .gummies-guide h3 {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
    .gummy-category {
        width: 30%;
    }


  .gummies-guide p   {
    font-size: 0.8rem;
}


  .gummy-category img {
       width: 4rem;
    height: 3rem;
    object-fit: contain;
    object-position: bottom;
    margin-left: auto;
    margin-right: auto;
  }

    .popup-btn {
        font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: #71c7ff;
    display: block;
    line-height: 1;
    color: #fff;
    }
</style>

<script>
  document.querySelectorAll("#how_many_gummies").forEach(button => {
        button.addEventListener("click", function() {
            document.getElementById("gummies-popup").style.display = "flex";
        });
    });
    document.querySelector(".close-btn").addEventListener("click", function() {
        document.getElementById("gummies-popup").style.display = "none";
    });
    window.addEventListener("click", function(event) {
        if (event.target === document.getElementById("gummies-popup")) {
            document.getElementById("gummies-popup").style.display = "none";
        }
    });
</script>
