{% schema %}
{
  "name": "Two Column Comparison",
  "settings": [
    
     {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop Our Gummies"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Description",
      "default": "From Woof to Wow Treats for Happy Healthy Days"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Column Image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Column Image"
    }
  ],
  "blocks": [
    {
      "type": "table_row",
      "name": "Table Row",
      "settings": [
   {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
 {
          "type": "richtext",
          "id": "title",
          "label": "Left Column Content"
        },
        {
          "type": "richtext",
          "id": "left_content",
          "label": "Left Column Content"
        },
        {
          "type": "richtext",
          "id": "right_content",
          "label": "Right Column Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Column Comparison",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
<div style="background: #f8f7f4;"  class="">
<div class="padding-top-75 padding-bottom-75  no-mb-padding" >

<h3 class="title-section align-center padding-bottom-25  mb-padding-right-left">{{ section.settings.heading }}</h3>
    <p class="sub-title align-center padding-bottom-50  mb-padding-right-left">{{ section.settings.subtitle }}</p>
<div class="overflow-scroll-mb ">
<div class="comparison-tables ContainerGrid">

<div class="row_grid">
  <div class="title_span title-comparison"> </div>
      <div class="left_content title-comparison">
    {% if section.settings.left_image != blank %}
      <img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/heart_1.png?v=1742466772" class="img_comparison our-Gummies">
<p class="title_comparison">Our Gummies</p>
      </div>
          {% endif %}
 
      <div class="right_content title-comparison">
     {% if section.settings.right_image != blank %}
       <img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/044.png?v=1736160482" class="img_comparison">
<p class="title_comparison">The Others</p>
    {% endif %}
      </div>
      </div>
  {% for block in section.blocks %}
<div class="row_grid">

   <div class="title_span title-comparison">
<img src="{{  block.settings.image | img_url: '' }}" class="icon-comparison">
{{  block.settings.title }}
 </div>

      <div class="left_content">
{% if  block.settings.left_content  != blank %} {{ block.settings.left_content }}{% endif %}</div> 
      <div class="right_content">{% if  block.settings.right_content != blank %} {{ block.settings.right_content }}{% endif %}</div>

</div>
  {% endfor %}
</div>


</div>
</div>
</div>

  </div>
<style>
@media(min-width: 768px) {
.title_comparison {
    color: #f25314;
    font-size: 1.3rem;
}
  }

.title_comparison p{
    color: #f25314;
}

.comparison-tables {
    border: 2px solid #1d5d40;
}

  .title-comparison  {
   font-size: 1rem;
    font-weight: 700;
}
  .row_grid>div:not(.title_span) {
 padding: 0.75rem 1.5rem;
    min-width: 40%;
    display: flex;
  }

  .row_grid:last-child {
    border: none!important;
  }
  .row_grid>div.title_span {
 padding: 0.75rem 1.5rem;
    min-width: 20%;
    align-items: center;
    display: flex;
  }

  .row_grid img {
    max-width: 0.75rem;
    margin-right: 0.5rem;

}


.title_span p{
  font-size: 1rem!important;
}



  .title_span p  {
    color: #285d3f;
}

.comparison-tables {
    background: #fff;
    padding: 2.5rem;
    border-radius: 25px;
      position: relative;
}


  .left_content {
  
  }
.right_content:not(.title-comparison) p, .left_content:not(.title-comparison) p{
    font-size: 0.9rem!important;
}

  .row_grid {
       border-bottom: 1px solid #eee;
   
    display: flex !important;
    flex-flow: nowrap;
}


.img_comparison {
    min-width: 5rem;
    position: absolute;
    TOP: -50PX;
    display: block !important;
}


  .icon-comparison {
    max-width: 0.4rem;
    min-width: 1.35rem;
    margin-right: 0.7rem!important;
  }

@media (max-width: 768px) {
  .comparison-tables {
    background: #fff;
    padding: 20px;
    min-width: 500px;
    overflow: auto;
    border-radius: 25px;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
}


    .comparison-tables {
        margin-top: 32px!important;
    }

.comparison-tables {
        overflow: visible !important;
}


.img_comparison {
    min-width: 4rem!important;
    position: absolute;
    TOP: -30PX!important;
}

.row_grid>div.title_span {
    min-width: 25%!important;
}

  
}
  
</style>
