{{ 'component-image-with-text-ta.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

{% assign scheme1 = settings.color_schemes | first %}

<div class="image-with-text-ta padding-top-75 ContainerGrid padding-bottom-75 image-with-text-ta--{{ section.settings.content_layout }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == scheme1 and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="image-with-text-ta__grid  {% if  section.settings.showvideo == true %} video_section {% endif %}  grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text-ta__grid--reverse{% endif %}">
    <div class="image-with-text-ta__media-item image-with-text-ta__media-item--{{ section.settings.desktop_image_width }} image-with-text-ta__media-item--{{ section.settings.desktop_content_position }} grid__item">
      <div
        class="image-with-text-ta__media image-with-text-ta__media--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} global-media-settings {% if section.settings.image != blank %}media{% else %}image-with-text-ta__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank %}
          style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
        {% endif %}
      >
        {%- if section.settings.image != blank -%}
          {%- if section.settings.image_behavior == 'ambient' -%}
            {%- assign widths = '1800' -%}
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
          {%- else -%}
            {%- assign widths = '1500' -%}
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
          {%- endif -%}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag: loading: 'lazy', sizes: sizes, widths: widths
          }}
        {%- else -%}
{%- if  section.settings.showvideo == true -%}
       <video id="myVideo" autoplay loop muted playsinline style="
     position: absolute;
    top: 0px;
    left: 0px;
    object-position: 0rem !important;
    width: 108%;
    height: 108%!important;
max-width: 108%!important;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
"
">
        <source src="https://cdn.shopify.com/videos/c/o/v/0960fbb7a47c4915bdacfc6ccea36659.mp4" type="video/mp4">
    </video>
        {%- endif -%}


{%- if  section.settings.showvideoAbout == true -%}
       <video id="myVideo" autoplay loop muted playsinline style="
     position: absolute;
    top: 0px;
    left: 0px;
    object-position: 0rem !important;
    width: 108%;
    height: 108%!important;
max-width: 108%!important;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
"
">
        <source src="https://cdn.shopify.com/videos/c/o/v/9af82dbf3c9c42ad8cd5c9b9e2fd869c.mp4" type="video/mp4">
    </video>
        {%- endif -%}

        {%- endif -%}

 
      </div>

    </div>
    <div class="image-with-text-ta__text-item grid__item">
      <div
        id="ImageWithText--{{ section.id }}"
        class="image-with-text-ta__content image-with-text-ta__content--{{ section.settings.desktop_content_position }} image-with-text-ta__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text-ta__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text-ta__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container"
      >

{%- if section.settings.quote -%}
        <img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/quote.png?v=1734354031" class="quote_icon" >
  {%- endif -%}
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2 class="title-section inline-richtext pb-25 {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading }}
              </h2>
            {%- when 'caption' -%}
              <p class="image-with-text-ta__text image-with-text-ta__text--caption  {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div class="image-with-text-ta__text rte   {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
   {%  when 'stars_block' %}
<svg xmlns="http://www.w3.org/2000/svg" id="uuid-6671e666-11c2-4df6-a8a3-319966f06af9" data-name="Layer_2" viewBox="0 0 88.77 16">
  <g id="uuid-732e118e-e492-4b8a-944c-8da402457882" data-name="Layer_1">
    <path id="uuid-fb3aedff-655d-4a24-a1b7-e0021ba7f0b9" data-name="star" d="M8.83.27l2.44,4.54,5.07.92c.4.07.56.56.28.86l-3.56,3.73.69,5.11c.06.4-.36.7-.73.53l-4.64-2.23-4.64,2.23c-.37.18-.78-.13-.73-.53l.69-5.11L.14,6.58c-.28-.29-.12-.78.28-.86l5.07-.92L7.94.27c.19-.36.71-.36.9,0h0Z" style="fill: #ebee02;"/>
    <path id="uuid-6ca31efe-921b-4759-92a6-a708884d47a2" data-name="star" d="M26.83.27l2.44,4.54,5.07.92c.4.07.56.56.28.86l-3.56,3.73.69,5.11c.06.4-.36.7-.73.53l-4.64-2.23-4.64,2.23c-.37.18-.78-.13-.73-.53l.69-5.11-3.56-3.73c-.28-.29-.12-.78.28-.86l5.07-.92L25.94.27c.19-.36.71-.36.9,0h0Z" style="fill: #ebee02;"/>
    <path id="uuid-466b22be-295e-478f-9381-bf24acb3c691" data-name="star" d="M44.83.27l2.44,4.54,5.07.92c.4.07.56.56.28.86l-3.56,3.73.69,5.11c.06.4-.36.7-.73.53l-4.64-2.23-4.64,2.23c-.37.18-.78-.13-.73-.53l.69-5.11-3.56-3.73c-.28-.29-.12-.78.28-.86l5.07-.92,2.44-4.54c.19-.36.71-.36.9,0h0Z" style="fill: #ebee02;"/>
    <path id="uuid-a04283f8-88b8-4a54-bf93-8be04170111a" data-name="star" d="M62.83.27l2.44,4.54,5.07.92c.4.07.56.56.28.86l-3.56,3.73.69,5.11c.06.4-.36.7-.73.53l-4.64-2.23-4.64,2.23c-.37.18-.78-.13-.73-.53l.69-5.11-3.56-3.73c-.28-.29-.12-.78.28-.86l5.07-.92,2.44-4.54c.19-.36.71-.36.9,0h0Z" style="fill: #ebee02;"/>
    <path id="uuid-b3ba331a-d015-45f5-8880-0d39f66d7736" data-name="star" d="M80.83.27l2.44,4.54,5.07.92c.4.07.56.56.28.86l-3.56,3.73.69,5.11c.06.4-.36.7-.73.53l-4.64-2.23-4.64,2.23c-.37.18-.78-.13-.73-.53l.69-5.11-3.56-3.73c-.28-.29-.12-.78.28-.86l5.07-.92,2.44-4.54c.19-.36.71-.36.9,0h0Z" style="fill: #ebee02;"/>
  </g>
</svg>

   {%  when 'icons_block' %}
<div class="icon_blocks" >
{% for i in (1..3) %}
  {% assign title_id = "title_" | append: i %}
  {% assign text_id = "text_" | append: i %}
  {% assign title = block.settings[title_id] %}
  {% assign text = block.settings[text_id] %}
  
  {% if title != blank or text != blank %}
    <div class="content-block pt-25">
      <div class="icon">
        {% case i %}
          {% when 1 %}
            <!-- SVG 1 -->
<img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/01orange.png?v=1735650766" class="icon_tab">
          {% when 2 %}
            <!-- SVG 2 -->
<img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/02orange.png?v=1735650766" class="icon_tab">         
 {% when 3 %}
            <!-- SVG 3 -->

<img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/03orange.png?v=1735650766" class="icon_tab">        {% endcase %}
      </div>
      <div class="content">
        <h3 class="icon-title">{{ title }}</h3>
        <p class="icon-description">{{ text }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}

       </div>

            {%- when 'button' -%}

 {%- if block.settings.button_link != blank -%}
<a href="{{ block.settings.button_link }}" class="cta_button" style="">
    {{ block.settings.button_label | escape }}
</a>
              {%- endif -%}

            

            {%- when 'percentage_text_element' -%}
              <div class="percentage-text-element">
               
                  <div>
                    <span class="percentage">{{ block.settings.percentage }}</span>
                    <span class="description">{{ block.settings.description }}</span>
                  </div>
                
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>


<style>


@media (min-width: 768px) {
 #shopify-section-template--24038938313016__image_with_text_ta_6edjjR .image-with-text-ta__content  {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
#shopify-section-template--24038938313016__image_with_text_ta_6edjjR .grid__item {
    min-width: 60% !important;
}
  #shopify-section-template--24038938313016__image_with_text_ta_6edjjR .grid {
    display: flex;
    flex-flow: nowrap;
  }


#shopify-section-template--24039321010488__image_with_text_ta_6edjjR  .image-with-text-ta__content  {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
#shopify-section-template--24039321010488__image_with_text_ta_6edjjR  .grid__item {
    min-width: 60% !important;
}
  #shopify-section-template--24039321010488__image_with_text_ta_6edjjR .grid {
    display: flex;
    flex-flow: nowrap;
  }
}


@media (max-width: 768px) {
#shopify-section-template--24038938313016__image_with_text_ta_6edjjR  .image-with-text-ta__media-item {
    min-width: 100% !important;
}
#shopify-section-template--24038938313016__image_with_text_ta_6edjjR .image-with-text-ta__content {
    margin-left: auto;
    padding: 6rem 4rem;
    margin-right: auto;
}


#shopify-section-template--24039321010488__image_with_text_ta_6edjjR .image-with-text-ta__content {
    justify-content: center;
    margin-left: auto;
    margin: auto;
}

  #shopify-section-template--24039321010488__image_with_text_ta_6edjjR  .image-with-text-ta__media-item {
    min-width: 100% !important;
}
  #shopify-section-template--24039321010488__image_with_text_ta_6edjjR.image-with-text-ta__content {
    margin-left: auto;
    padding: 6rem 4rem;
    margin-right: auto;
}
  }
  .icon_blocks {

        flex-flow: wrap;
    gap: 1rem;
  }
.icon_blocks img {
padding-right: 0.5rem;
    width: 100%;
  }

.icon_blocks .icon {
    min-width: 2rem;
padding-top: 0.5rem;
    max-width: 2.5rem !important;
    padding-right: 0.5rem;
margin-left: 0px;
margin-right: 0px;
  }

.icon_blocks .content-block {
    padding-bottom: 0.5rem;
}

  .icon-title {
        margin-bottom: 0rem;
  }
</style>

{% schema %}
{
  "name": "Image with Text Section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "showvideo",
      "label": "Enable Feature Video",
      "default": false
    },
     {
      "type": "checkbox",
      "id": "showvideoAbout",
      "label": "Enable Feature Video (About Page)",
      "default": false
    },
     {
      "type": "checkbox",
      "id": "quote",
      "label": "Enable Quote",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to Content"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt",
      "label": "Section Height"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Desktop Image Width",
      "info": "Adjust the width of the image for desktop view."
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image First"
        },
        {
          "value": "text_first",
          "label": "Text First"
        }
      ],
      "default": "image_first",
      "label": "Content Layout",
      "info": "Choose whether the image or text appears first."
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top",
      "label": "Desktop Content Position"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Desktop Content Alignment"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "No Overlap"
        },
        {
          "value": "overlap",
          "label": "Overlap"
        }
      ],
      "default": "no-overlap",
      "label": "Content Layout"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Animation Settings"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        }
      ],
      "default": "none",
      "label": "Image Behavior"
    },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Mobile Content Alignment"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading Block",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with Text",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h0",
              "label": "H0"
            }
          ],
          "default": "h1",
          "label": "Heading Size"
        }
      ]
    },
    {
      "type": "icons_block",
      "name": "Icons Block",
      "settings": [
        {
          "type": "text",
          "id": "title_1",
          "label": "Title 1",
          "default": "Enter your title here"
        },
        {
          "type": "textarea",
          "id": "text_1",
          "label": "Text 1",
          "default": "Enter your text here"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title 2",
          "default": "Enter your title here"
        },
        {
          "type": "textarea",
          "id": "text_2",
          "label": "Text 2",
          "default": "Enter your text here"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title 3",
          "default": "Enter your title here"
        },
        {
          "type": "textarea",
          "id": "text_3",
          "label": "Text 3",
          "default": "Enter your text here"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption Block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "Caption"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Caption with Letter Spacing"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "Text Style"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Text Size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text Block",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            }
          ],
          "default": "body",
          "label": "Text Style"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button Block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button Label",
          "label": "Button Label",
          "info": "Label for the button."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "percentage_text_element",
      "name": "Percentage Text Block",
      "settings": [
        {
          "type": "text",
          "id": "percentage",
          "label": "Percentage",
          "default": "100%"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Default description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
