{{ 'hero-section.css' | asset_url | stylesheet_tag }}

<div class="custom-hero-section">


  <div class="hero-video-wrapper">
  {% if section.settings.image %}
          <img src="{{ section.settings.image | img_url: 'master' }}"  style="">
{% else %}
    <video autoplay loop muted playsinline class="hero-video">
      <source id="myVideo"  src="{{ section.settings.background_video_url }}" type="video/mp4">
    </video>
{% endif %}
  </div>

  <div class="hero-content in_slider  padding-top-75 padding-bottom-75">
    <h1 class="hero-title">{{ section.settings.slide_text }}
    {% if template == 'index' %}
        <i>Dog Supplements</i> is Here
    {% endif %}
     
</h1>
    {% if section.settings.slide_subtext %}
      <p class="hero-subtext">{{ section.settings.slide_subtext }} </p>
    {% endif %}
    <a href="{{ section.settings.slide_button_link }}" class="cta_button  custom-parallax-section__button">
      {{ section.settings.slide_button_text }}
<svg xmlns="http://www.w3.org/2000/svg" width="27" id="uuid-48567840-edd2-42b8-80fa-8e24b7a9a2b3" viewBox="0 0 512 512"><defs><style>.uuid-42b892db-dbe9-4944-94c3-f75b472392c0{fill:#fff;}</style></defs><ellipse class="uuid-42b892db-dbe9-4944-94c3-f75b472392c0" cx="330.31" cy="385.89" rx="66.99" ry="49.98" transform="translate(-161.09 514.48) rotate(-64.1)"/><ellipse class="uuid-42b892db-dbe9-4944-94c3-f75b472392c0" cx="125.36" cy="174.18" rx="67.07" ry="49.92" transform="translate(-59.35 64.92) rotate(-23.65)"/><ellipse class="uuid-42b892db-dbe9-4944-94c3-f75b472392c0" cx="203.3" cy="383.17" rx="67.01" ry="49.97" transform="translate(-227.44 332.04) rotate(-55.28)"/><ellipse class="uuid-42b892db-dbe9-4944-94c3-f75b472392c0" cx="124.57" cy="301.85" rx="67.04" ry="49.95" transform="translate(-162.75 146.68) rotate(-39.2)"/><path class="uuid-42b892db-dbe9-4944-94c3-f75b472392c0" d="M428.54,169.72c-11.1-11.7-25.59-18.39-40.87-20.12-14.25-1.61-24.84-12.4-25.94-26.68-1.21-15.65-7.63-30.66-19.42-42.26-28.3-27.84-76.95-24.02-105.47,7.72-44.38,49.4-36.51,123.84-29.29,168.96,3.4,21.26,19.51,37.42,40.84,40.87,45.41,7.34,115.54,20.98,166.58-20.48,35.25-28.63,42.65-77.37,13.57-108.01ZM284.38,135.18c-19.71,12.4-31.08-20.23-14-30.97,19.71-12.4,31.08,20.23,14,30.97Z"/></svg>

</a>
  </div>
</div>


{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "text",
      "id": "slide_text",
      "label": "Slide Text",
      "default": "Your Slide Text"
    },
    {
      "type": "text",
      "id": "slide_subtext",
      "label": "Slide Subtext"
    },
    
    {
      "type": "image_picker",
      "id": "image",
      "label": "Center Image"
    },
    {
      "type": "url",
      "id": "slide_button_link",
      "label": "Slide Button Link"
    },
    {
      "type": "text",
      "id": "slide_button_text",
      "label": "Slide Button Text",
      "default": "Click Here"
    },
    {
      "type": "url",
      "id": "background_video_url",
      "label": "Background Video URL"
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}


