{% schema %}
{
  "name": "Three Steps Section",
  "settings": [
 {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "The Formulation"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Made with only 12 essential active ingredients."
    },
  {
          "type": "image_picker",
          "id": "step_1_image",
          "label": "Image"
        },
    {
      "type": "text",
      "id": "step_1_title",
      "label": "Step 1 Title",
      "default": "Step 1"
    },
    {
      "type": "textarea",
      "id": "step_1_content",
      "label": "Step 1 Content",
      "default": "This is the content for step 1."
    },
      {
          "type": "image_picker",
          "id": "step_2_image",
          "label": "Image"
        },
    {
      "type": "text",
      "id": "step_2_title",
      "label": "Step 2 Title",
      "default": "Step 2"
    },
    {
      "type": "textarea",
      "id": "step_2_content",
      "label": "Step 2 Content",
      "default": "This is the content for step 2."
    },
      {
          "type": "image_picker",
          "id": "step_3_image",
          "label": "Image"
        },
    {
      "type": "text",
      "id": "step_3_title",
      "label": "Step 3 Title",
      "default": "Step 3"
    },
    {
      "type": "textarea",
      "id": "step_3_content",
      "label": "Step 3 Content",
      "default": "This is the content for step 3."
    }
  ],
  "presets": [
    {
      "name": "Three Steps Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

<div class="hoverlay-50 mb-padding-right-left ">
<section class="three-steps-section custom-product-grid-wrapper padding-top-75 padding-bottom-75 page-container" style=" ">
  <div   style="" class="hoverlay_img" ></div>
  <img src="https://cdn.shopify.com/s/files/1/0916/1349/5608/files/veterinar-stamp.svg?v=1735551695" class="veterinar-stamp"/>
  <div class="z-index-2">
   <h3 class="title-section align-center padding-bottom-25">{{ section.settings.title }}</h3>
          <p class="sub-title align-center padding-bottom-50">{{ section.settings.subtitle }}</p>
  <div class="container">
    <div class="step">
      <div class="step-number">1</div>
      <div class="div_round">
        <div>
 <img class="step-image" src="{{ section.settings.step_1_image | img_url: '' }}" />
      <h4 class="step-title">{{ section.settings.step_1_title }}</h4>
      <p class="step-content">{{ section.settings.step_1_content }}</p>
      </div>
      </div>
    </div>
    <div class="step">
      <div class="step-number">2</div>
<div class="div_round">
  <div>
 <img class="step-image" src="{{ section.settings.step_2_image | img_url: '' }}" />
      <h4 class="step-title">{{ section.settings.step_2_title }}</h4>
      <p class="step-content">{{ section.settings.step_2_content }}</p>
  </div>
    </div>
      </div>
    <div class="step">
      <div class="step-number">3</div>
<div class="div_round">
<div>
 <img class="step-image" src="{{ section.settings.step_3_image | img_url: '' }}" />
      <h4 class="step-title">{{ section.settings.step_3_title }}</h4>
      <p class="step-content">{{ section.settings.step_3_content }}</p>
</div>
    </div>
</div>
  </div>
  </div>
</section>
</div>

<style>

  .three-steps-section {
        background-position: center bottom;
    background-image: url(https://cdn.shopify.com/s/files/1/0916/1349/5608/files/tomeronen_httpss.mj.runfR_1S9hMTg8_A_high-end_veterinary_clinic_6d2fbd58-f613-47f2-92af-c90d11458637-min.jpg?v=1735649735);
  }


.step-image{
    border-radius: 100%;
      outline: 3px solid #ff4d00;
    outline-offset: -3px;
}
 .three-steps-section   .title-section {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

 .three-steps-section   .sub-title {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

  .step {
        position: relative;
  }


    .veterinar-stamp {
    width: 6rem;
    top: 2rem;
    right: -2rem;
    position: absolute;
}


  .step-image {
    margin-left: auto;
    margin-right: auto;
    width: 4.5rem;
  margin-bottom: 0.75rem;
  }
   
.hoverlay-50 {
    background: linear-gradient(to bottom, #FFF 50%, #f8f7f4 50%);
}
  .z-index-2 {
    position: relative;
z-index: 2;
  }
.three-steps-section {
 border-radius: 25px;
position: relative;

  text-align: center;
}

  .hoverlay_img {
      position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    border-radius: 25px;
    background: #e4edf9;
    bottom: 0px;
    object-fit: cover;
    opacity: 0.9;
  }
.three-steps-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.three-steps-section .div_round {
     width: 15rem;
    height: 15rem;
      z-index: 1;
     position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0px;
}
.three-steps-section .step-number   {
     position: absolute;
        width: 4rem;
    font-weight: 4000;
    font-family: 'DM Sans';
    font-size: 19rem;
 
    height: 16rem;
    display: flex
;
   justify-content: center;
    align-items: center;
    color: #f8f6f5;
    border-radius: 100%;
}
.three-steps-section .step-title {
 font-size: 2rem;
    line-height: 1.1;
margin-bottom: 0.9rem;
    color: #ff4d00;
    text-align: center;
    text-transform: none;
      font-weight: bold;
   
}
.three-steps-section .step-content {
  font-size: 1rem;
 
}


@media (max-width: 768px) {
  .veterinar-stamp {
    width: 60px;
    top: -20px;
    right: auto;
    left: -15px;
    position: absolute;
}

.three-steps-section .container {
    gap: 0px;
}

.three-steps-section .step-number {
   font-size: 14rem;
   height: 14rem;
   width: 7rem;
}
}
</style>
